<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="<%=host%>/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="<%=host%>/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="<%=host%>/dist/css/adminlte.min.css">
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <p><b>Test </b>Node JS</p>
            </div>
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Sign in to start your session</p>
                    <form method="POST">
                        <div class="input-group mb-3">
                            <input id="email_login" type="text" class="form-control" placeholder="Email" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input id="password_login" type="password" class="form-control" placeholder="Password" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-4">
                            <button id="btn-login" type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- custom js -->
        <script src="<%host%>/public/js/login.js"></script>
    </body>
</html>
